.task-list {
    overflow-y: auto;
    margin-bottom: 8px;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: #CFD8DC;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #90A4AE;
      border-radius: 20px;
      border: 2px solid #CFD8DC;
    }
  }
  
  // Button styles are handled inline using sx prop in the component.
  