.kanban-board {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  padding: 20px;
  gap: 15px; // This ensures space between columns

  .add-stage-btn {
    background-color: #5aac44;
    color: white;
    border: none;
    border-radius: 13px;
    padding: 3px 3px 3px 10px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    scale: 0.8;

    
    &:hover {
      background-color: darken(#5aac44, 10%);
    }
  }
}
