.kanban-board {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  padding: 20px;
  gap: 20px; // This ensures space between columns

  .add-stage-btn {
  color: #AD9551;
  background-color: rgba(228, 228, 228, 0);
  border: 1px solid #AD9551;
  border-radius: 150px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  scale: 0.8;

  
  &:hover {
    background-color: darken(#ffffff, 10%);
  }
}
}
