.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 15vw;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #ff9c2a;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    margin-top: -0.5em;
  }

  .menu,.user {
    display: flex;
    flex-direction: column;
  }

  .menu-item, .user-item {
    position: relative;
    padding: 10px;
    color: #4f4f4f;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: #ff9c2a;
      transition: width 0.3s ease;
    }

    &:hover::after, &.active::after {
      width: 70%;
    }

    &.active {
      color: #ff9c2a;
      font-weight: bold;
    }
  

    span {
      margin-left: 10px;
    }
  }

  hr {
    margin-top: 25vh;
  }

  @media (max-width: 768px) {
    width: 5vw;

    .logo, .menu-item span, .user-item span {
      display: none;
    }

    .menu-item, .user-item {
      justify-content: center;
    }
  }
}
