.board-column {
  background-color: #ebecf0;
  border-radius: 3px;
  width: 272px; // Fixed width for each column
  margin: 0 4px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: auto;
  hr{
    margin: 0px 8px;
    margin-bottom: 8px;

  }
  .column-header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-count{
      display: flex;
      align-items: center;
      gap: 8px;
      .card-count{
        background-color: #ffffff;
        border-radius: 50%;
        width: 20px;
        text-align: center;
        font-size: 14px;
      }
    }
    h2 {
      font-size: 14px;
      font-weight: 400;
      color: #172b4d;
    }
    
    .buttons{
      display: flex;
      align-items: center;
      gap: 0;
      
      .add-card-btn {
        color: #a30909;
        scale: 0.8;
      
        cursor: pointer;
        
    
        &:hover {
          color: darken(#a30909, 10%);
        }
      }
     .del-stage-btn {
        color: #3161b6;
        border: none;
        cursor: pointer;
        scale: 0.8;
  
        &:hover {
          color: darken(#c1c7d0, 10%);
        }
      }
    }
  }

}
