.board-column {
  border-radius: 3px;
  width: 272px;
  margin: 0 4px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: auto;
  .cards-container {
    min-height: 5px; /* Ensure there's enough space for dropping */
    padding: 0px; /* Add padding to prevent the container from collapsing */
    background: #7171713c;
    margin: 0px 8px;
    border-radius: 3px; /* Keeps the design consistent with the rest of your layout */
    overflow: auto; 
   
  }
  hr{
    margin: 0px 8px;
    margin-bottom: 8px;

  }
  .column-header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-count{
      display: flex;
      align-items: center;
      gap: 8px;
      input {
        border: none;
    
        &:focus {
          outline: none;;
          background-color: transparent;
        }
      }
      .card-count{
        background-color: #fc9841;
        color: #ffffff;
        border-radius: 50%;
        width: 15px;
        text-align: center;
        font-size: 12px;
        font-weight: 300;
      }
    }
    h2 {
      font-size: 14px;
      font-weight: 400;
      color: #172b4d;
    }
    
    .buttons{
      display: flex;
      align-items: center;
      gap: 0;
      scale: 0.8;
      .add-card-btn {
        color: #a30909;
        cursor: pointer;    
        &:hover {
          color: darken(#a30909, 10%);
        }
      }
     .del-stage-btn {
        color: #3161b6;
        border: none;
        cursor: pointer;
        &:hover {
          color: darken(#c1c7d0, 10%);
        }
      }
    }
  }

}
