.create-event-card {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .MuiFormControl-root {
        margin-top: 20px;
    }

    .MuiButton-containedPrimary {
        margin-top: 20px;
    }
}
