* {
    padding: 0;
    margin: 0;  
}
.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('/images/Dashboard1.png');
    background-size: cover;
    position: fixed;
    .sideBar{
        
    }
    .dashboard-content{
        min-width: 85vw;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
          }
        
          -ms-overflow-style: none;
          scrollbar-width: none;
        
    }
}
