.DashboardContents {
  padding: 24px;

  .MuiCard-root {
    height: 100%;
    display: flex; // Use flexbox for layout
    flex-direction: column; // Stack children vertically
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 8px; // Existing border-radius
    border: 2px solid #AD9551; // Add a cool border color

  }

  .MuiCardContent-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .MuiTypography-h6 {
    color: #22345f;
    margin-bottom: 16px;
    font-weight: 600; // Added for better emphasis
  }

  .summary-card, .event-overview {
    .MuiTypography-body1 {
      margin-bottom: 8px;
    }
  }

  .top-selling-items {
    canvas {
      max-height: 200px;
    }
  }

  .events-section {
    .MuiList-root {
      max-height: 200px;
      overflow-y: auto;
    }

    .MuiListItem-root {
      padding: 8px 0;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: none;
      }
    }

    .MuiListItemText-primary {
      font-weight: 600;
      color: #22345f;
    }

    .MuiListItemText-secondary {
      color: #666;
    }
  }

  .chart-section {
    .controls {
      display: flex;
      gap: 16px;
      margin-bottom: 24px;
    }

    .sales-chart {
      height: 300px;
      margin-top: 16px;
    }
  }
}
