
.menu-grid {
   
    max-width: 100%;
  
      .table-container{
        overflow-x: auto;
        height: 77vh;
        background: #a9a9a9f5;
        border-radius: 5px;
        .summary-container {
        border-radius: 5px;
        border-bottom: none;
        text-align: center;
      
        h2 {
            margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          color: #000000;
        }
      
        .item-totals {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1rem;
      
          p {
            border-right:1px solid #000000;
            padding-right: 0.5rem;
            border-left:1px solid #000000;
            padding-left: 0.5rem;
          }
        }
      }
        .MuiTableContainer-root {
        box-shadow: none; // Remove shadow if desired
    }

    .MuiTableCell-head {
        font-weight: bold;
    }

    .MuiIconButton-root {
        padding: 8px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }}
    
}
