// styles/globals.scss
.pos{
    display: grid;
    grid-template-columns: 1.3fr 3fr; // left side for orders, right side for menu and actions
    grid-template-rows: auto 1fr auto auto; // header, main content, and keypad
    grid-template-areas: 
      "orderlist header"
      "orderlist menu"
      "keypad menu"
      "keypad currencyshortcuts";
    gap: 1rem;
    height: 100vh;
    background-color: transparent; // or any other color that suits the theme
  
    .pos-header {
      grid-area: header;
      // ...other styles
    }
  
    .order-list {
      grid-area: orderlist;
      // ...other styles
    }
  
    .menu {
      grid-area: menu;
      // ...other styles
    }
  
    .keypad {
      grid-area: keypad;
      // ...other styles
    }
  
    .currency-shortcuts {
      grid-area: currencyshortcuts;
      margin-top: -5rem;
      margin-bottom: 2rem;
      // ...other styles
    }
  }
