.myBackground { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('/images/bg1.png'); /* Corrected the URL path */
  background-size: cover; /* Removed the quotes */
  background-position: center;
  .loginForm {
      padding: 20px;
      border: 1px solid #AD9551;
      border-radius: 8px;
      text-align: center;
      width: 100%; // For responsiveness
      max-width: 600px; // Maximum width
      img{
        margin-top: -20px;
      }
      h1 {
        color: #999999;
          margin-bottom: 20px;
      }
  }

  .inputField {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #AD9551;
      border-radius: 4px;
      box-sizing: border-box; // Ensures padding doesn't affect width
  }

  .loginButton {
      width: 100%;
      padding: 10px;
      background-color: #AD9551;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 20px rgb(181, 188, 47), 0 0 20px rgb(186, 160, 10); /* Enhanced glow effect */
    }
  }
  
  .buttonWrapper {
    width: 100%;
    margin-top: 10px;
    display: inline-block; /* Allow the wrapper to size around the button */
    border-radius: 4px; /* Apply border radius to the wrapper */
    overflow: hidden; /* Ensure the inner button does not overflow */
    background: linear-gradient(45deg, #978827, #11064e); /* Gradient background for border effect */
    padding: 2px; /* Space for the border effect */
    .quickLoginButton {
      width: 100%;
      padding: 10px;
      background-color: #e0e0e075; /* Background color of the button */
      color: rgb(255, 255, 255); /* Text color */
      border: none; /* No solid border */
      border-radius: 4px; /* Rounded corners */
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.3s ease;
  
      /* Glow effect */
      box-shadow: 0 0 10px rgba(255, 0, 127, 0.5), 0 0 20px rgba(10, 186, 181, 0.5);
  
      // Add an active state for a pressed effect
  }

  &:hover {
    box-shadow: 0 0 20px rgb(181, 188, 47), 0 0 20px rgb(186, 160, 10); /* Enhanced glow effect */
}

// Add an active state for a pressed effect
&:active {
    transform: scale(0.95); /* Slightly shrink on click */
}
}






  .inputField.error {
      border: 2px solid #ff0000; // More prominent border for error
  }

  .errorMessage {
      color: #ff0000;
      margin-top: 10px;
  }
}
