.myBackground { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;// Optional: background color for the entire page
  .loginForm {
      padding: 20px;
      background-color: rgba(255, 255, 255, 0);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
      width: 100%; // For responsiveness
      max-width: 400px; // Maximum width
      img{
        margin-top: -20px;
      }
      h1 {
        color: #999999;
          margin-bottom: 20px;
      }
  }

  .inputField {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #AD9551;
      border-radius: 4px;
      box-sizing: border-box; // Ensures padding doesn't affect width
  }

  .loginButton {
      width: 100%;
      padding: 10px;
      background-color: #AD9551;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
          background-color: #a78322;
      }
  }
  .quickLoginButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #e0e0e0;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #cfcfcf;
    }
  }


  .inputField.error {
      border: 2px solid #ff0000; // More prominent border for error
  }

  .errorMessage {
      color: #ff0000;
      margin-top: 10px;
  }
}
