// Keypad.scss
.keypad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  .keypad-display {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    text-align: right;
    border: 1px solid #cccccc;
    background-color: #d9d9d9;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }
}

.keypad {
  width: 100%;

  .keypad-button {
    width: 100%;
    padding: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #d9d9d9; // Regular button color
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#3498db, 10%);
    }

    &.delete-button {
      background-color: #2d255f;
      color: #d9d9d9;
       // Delete button color
    }

    &.enter-button {
        // Enter button color
        background-color: #AD9551;
      color: #d9d9d9;
        
    }
  }
}
