.payroll-page {
    padding: 20px;
    width: auto;
    background-color: #f6f6f6bc;
    border-radius: 5px;
    .title {
      margin-bottom: 20px;
    }
  
    .MuiTableContainer-root {
      margin-top: 20px;
    }
  
    .MuiTableCell-root {
      padding: 16px;
    }
  }
  