.staff-directory-page {
    padding: 20px;
  width: 100vw;
  margin-right: 50px;
  background-color: #f6f6f6bc;
    .title {
      margin-bottom: 20px;
      color: #232323;
    }
  
    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      
      
      .MuiTextField-root {
        flex-grow: 1;
        margin-right: 10px;
      }
    }
  
    .MuiTableContainer-root {
      margin-top: 20px;
    }
  
    .MuiTableCell-root {
      padding: 16px;
    }
  
    .MuiIconButton-root {
      margin-left: 8px;
    }
  }
  