// Menu.scss
.menu-grid {
    padding: 16px;
    .menu-item-card {
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      width: 14rem;
      height: 8rem;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }
    }
  }
  