.navbar {
  padding :15px 0px;
  border-bottom: 1px solid #dddddd30;
  min-width: calc(100% - 13vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: min-width 0.5s ease, padding-left 0.5s ease;

  &.sidebar-collapsed {
    min-width: calc(100% - 3vw);
  }
}

.breadcrumb-navigation {
  margin-left: 30px ;
  display: flex;
  align-items: center;
  color: #AD9551;
}

.breadcrumb-link {
  margin-right: 5px;
  cursor: pointer;
  color: #AD9551;
  transition: color 0.3s;
}

.breadcrumb-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.user-section {
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  color: #AD9551;
}

.user-icon {
  margin-right: 5px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  margin-top: 10px;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .navbar {
    min-width: calc(100% - 1.5vw);
    padding-left: 1.5vw;

    .breadcrumb-navigation {
      margin-left: 10px;
    }

    .user-section {
      margin-right: 15px;
    }
  }
}
