
.menu-grid {
   
    max-width: 100%;
    
    
    
      .table-container{
        overflow-x: auto;
        height: 60vh;
        
        border-radius: 5px;.summary-container {
        border-radius: 5px;
        border-bottom: none;
        text-align: center;
      background: #ffffff;
        h2 {
          margin-bottom: 0.5rem;
          color: #AD9551;
        }
      
        .item-totals {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1rem;
      
          p {
            background: #f0f0f0;
            padding: 0.5rem 1rem;
            border-radius: 8px;
          }
        }
      }
        .MuiTableContainer-root {
        box-shadow: none; // Remove shadow if desired
    }

    .MuiTableCell-head {
        font-weight: bold;
    }

    .MuiIconButton-root {
        padding: 8px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }}
    
}
