.payroll-page {
    padding: 20px;
    width: 100vw;
    margin-right: 50px;
    background-color: #f6f6f6bc;
  
    .title {
      margin-bottom: 20px;
    }
  
    .MuiTableContainer-root {
      margin-top: 20px;
    }
  
    .MuiTableCell-root {
      padding: 16px;
    }
  }
  